table {
    width: 100%;
  }

  .mat-column-local {
    min-width: 120px;
  }

  .mat-column-valor {
    max-width: 84px;
    min-width: 64px;
    text-align: center;
  }

  .mat-column-quantidade {
    max-width: 84px;
    min-width: 64px;
    text-align: center;
  }

  .mat-column-mediaDias {
    max-width: 64px;
    min-width: 64px;
    text-align: center;
  }

  .column-local-total {
    color: green;
    font-weight: 600;
  }