<div class="mat-elevation-z8">

  <span class="table-title">
    <p>Contas por Etapas (Mov Doc)(P.1048)</p>
  </span>

  <form class="pesquisa-table">
    <mat-form-field class="pesquisa-table-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisa">
    </mat-form-field>
  </form>
  <div class="overflow-table">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Unidade Internação Column -->
      <ng-container matColumnDef="unidadeInternacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title"> Unidade Internação </th>
        <td mat-cell *matCellDef="let element" class="negrito"> {{element.unidadeInternacao}} </td>
      </ng-container>

      <!-- Atendimento Column -->
      <ng-container matColumnDef="atendimento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Atendimento</th>
        <td mat-cell *matCellDef="let element"> {{element.atendimento}} </td>
      </ng-container>
      
      <!-- Aviso Cirurgia Column -->
      <ng-container matColumnDef="avisoCirurgia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Aviso Cirurgia</th>
        <td mat-cell *matCellDef="let element"> {{element.avisoCirurgia}} </td>
      </ng-container>

      <!-- Paciente Column -->
      <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Paciente</th>
        <td mat-cell *matCellDef="let element"> {{element.paciente}} </td>
      </ng-container>

      <!-- Conta Column -->
      <ng-container matColumnDef="conta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Conta</th>
        <td mat-cell *matCellDef="let element"> {{element.conta}} </td>
      </ng-container>

      <!-- Nro Retornos Column -->
      <ng-container matColumnDef="nroRetornos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Retornos</th>
        <td mat-cell *matCellDef="let element"> {{element.nroRetornos}} </td>
      </ng-container>

      <!-- Dias Local Atual Column -->
      <ng-container matColumnDef="diasLocalAtual">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Dias Local Atual</th>
        <td mat-cell *matCellDef="let element"> {{element.diasLocalAtual}} </td>
      </ng-container>

      <!-- Dias Local Atual Column -->
      <ng-container matColumnDef="nomeUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Nome Usuário</th>
        <td mat-cell *matCellDef="let element"> {{element.nomeUsuario}} </td>
      </ng-container>

      <!-- Data Inicial Column -->
      <ng-container matColumnDef="dataInicial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Data Inicial</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.dataInicial != '0001-01-01T00:00:00'; else elseBlock">{{ element.dataInicial }}</span>
          <ng-template #elseBlock></ng-template>
        </td>
      </ng-container>

      <!-- Data Final Column -->
      <ng-container matColumnDef="dataFinal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Data Final</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.dataInicial != '0001-01-01T00:00:00'; else elseBlock">{{ element.dataFinal }}</span>
          <ng-template #elseBlock></ng-template>
        </td>
      </ng-container>

      <!-- Data Alta Column -->
      <ng-container matColumnDef="dataAlta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Data Alta</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.dataInicial != '0001-01-01T00:00:00'; else elseBlock">{{ element.dataAlta }}</span>
          <ng-template #elseBlock></ng-template>
        </td>
      </ng-container>

      <!-- Quantidade Dias Fim Column -->
      <ng-container matColumnDef="qtdDiasFim">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Qtde Dias Fim</th>
        <td mat-cell *matCellDef="let element">
          <span [ngStyle]="{'color': element.qtdDiasFim > 50 ? 'red' : ''}">
            {{element.qtdDiasFim}}
          </span>
        </td>
      </ng-container>

      <!-- Convenio Column -->
      <ng-container matColumnDef="convenio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Convênio</th>
        <td mat-cell *matCellDef="let element">
          <span [ngStyle]="{'color': element.convenio == 'UNIMED INTERCAMBIO NACIONAL' ? 'red' : ''}">
            {{element.convenio}}
          </span>
        </td>
      </ng-container>

      <!-- Valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Valor</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.valor >= '50000' ? 'red' : ''}"> {{element.valor | number}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="grid-title">Status</th>
        <td mat-cell *matCellDef="let element">
          <app-sinaleiras [status]="element.status"></app-sinaleiras>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-spinner diameter="50" class="spinner" *ngIf=loading></mat-spinner>
  <span class="no-data" *ngIf=noData>
    <p>Não foram encontrados registros.</p>
  </span>

  <mat-paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
  <div class="button-generic">
    <button (click)=goCentralDeContasDePacientes() mat-raised-button>
      <mat-icon>west</mat-icon>
      Voltar
    </button>
    <button (click)=exportAsXLSX() mat-raised-button [disabled]="!listaContas">
      <mat-icon>download</mat-icon>
      Download
    </button>
  </div>
</div>