<div class="mat-elevation-z8">

  <span class="table-title">
    <p>Avisos em Conferenca Técnica(P.1058)</p>
  </span>

  <table mat-table [dataSource]="dataSource">

    <!-- Descrição Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef class="grid-title">Descrição</th>
      <td mat-cell *matCellDef="let row" class="column-local">{{row.descricao}}</td>
    </ng-container>

    <!-- Quantidade de Atendimentos Column -->
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef class="grid-title">Quantidade</th>
      <td mat-cell *matCellDef="let row">{{row.quantidade}}</td>
    </ng-container>

    <!-- Média de dias no local atual Column -->
    <ng-container matColumnDef="mediaDias">
      <th mat-header-cell *matHeaderCellDef class="grid-title">Média Dias</th>
      <td mat-cell *matCellDef="let row">{{row.mediaDias}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="detalhes">
      <th mat-header-cell *matHeaderCellDef class="grid-title">Detalhes</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="goToDetails()">
          <mat-icon>launch</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-spinner diameter="30" class="spinner" *ngIf=loading></mat-spinner>
  <span class="no-data" *ngIf=noData>
    <p>Não foram encontrados registros.</p>
  </span>
</div>