.bi-file-medical-fill{
    color: rgb(248, 25, 25);
    font-size: 2em;
    margin-left: 1px;
   justify-content: center;
   
}
btn.link{
    width: 3px;
}
.pull-right{
    color: blue;
    margin-right: 10px;
    font-size: 30px;
}


path{
    align-items: center;
}
